worker_processes  1;
events {
    worker_connections  1024;
}
daemon {{ DAEMON }};

http {
    include mime.types;
    server {
        listen {{ PORT }};
        server_name 120.0.0.1 localhost;
        root 'www';
        location /favicon.ico {
            log_not_found off;
        }
        location /sharecounts {
            content_by_lua 'ngx.print("hi")';
        }
    }
}
